.Home {
    align-items: center;
    align-self: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    height: 150px;

    button.ant-btn-round.ant-btn-lg {
        height: 90px;
        width: 130px;
    }
}
